In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("datasets/ICEWS14/test", header=None, sep="\t", names=["head", "rel", "tail", "ts"])
df.head()

,head,rel,tail,ts
0,Ministry (Afghanistan),Make statement,Afghanistan,2014-03-06
1,John Kerry,Express intent to meet or negotiate,China,2014-11-04
2,Japan,Make a visit,Thailand,2014-09-22
3,Head of Government (Pakistan),Express intent to meet or negotiate,Tajikistan,2014-06-16
4,Media Personnel (France),Make statement,France,2014-03-24

In [14]:
ent = list(set(list(df["head"].unique()) + list(df["tail"].unique())))
rel = list(set(list(df["rel"].unique())))